<div class="header">
    <button class="btn-login poppins-light" type="button" (click)="loginOn = true;">Entrar</button>
</div>
<div class="container-infos">
    <div class="infos">
        <div class="d-flex align-center infos-title">
            <img src="../../../assets/imgs/darkIcon.png" alt="">
            <div class="title-container">
                <h4 class="poppins-bold">Ponto do açai</h4>
                <h6 class="poppins-regular">Açaiteria</h6>
                <p class="poppins-extralight"> <button></button> Aberto até às 22:00</p>
            </div>
        </div>
        <div class="line"></div>
        <div class="store-itens">
            <p class="poppins-light">Início</p>
            <p class="poppins-light">Carrinho</p>
            <p class="poppins-light">Pedidos</p>
        </div>
    </div>
</div>

<div class="home-options">
    <div class="line-row"></div>
    <div class="options">
        <p>Mais Vendidos</p>
        <p>Monte o seu</p>
        <p>Açai</p>
    </div>
    <div class="line-row"></div>
</div>

<div *ngIf="loginOn" class="overlay">
    <div class="login">
        <app-login (close)="closeComponent()"></app-login>
    </div>
</div>
