.header {
    width: 100vw;
    height: 40vh;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-image: url(../../../assets/imgs/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.container-infos {
    border: solid 1px black;
    width: 80%;
    max-width: 800px;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
}

.infos {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    img {
        width: 20vw;
        max-width: 150px;
        height: auto;
        border-radius: 50%;
    }

    .line {
        width: 1px;
        background-color: #512036;
        height: 16vh;
    }

    .infos-title {
        gap: 1.25rem;
        text-align: center;
    }

    .poppins-regular {
        font-size: 1.5rem;
    }

    .poppins-bold {
        font-size: 2.5rem;
    }

    .poppins-extralight {
        color: #00bf63;
    }

    button {
        width: 12px;
        height: 12px;
        border: none;
        border-radius: 50%;
        background-color: #00bf63;
    }
}

.btn-login {
    background-color: #8cc63f;
    color: #512036;
    border-radius: 10px;
    border: none;
    padding: 0.7rem 2rem;
    max-height: 2.5rem;
    margin: 1rem;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 2rem;
}

.store-itens {
    .store-itens-unit {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        transition: color 0.3s, filter 0.3s;

        img {
            width: 40px;
            transition: filter 0.3s;
            filter: none;
            transition: fill 0.3s, stroke 0.3s;
            fill: none;
            stroke: black;
        }

        .icon {
            width: 40px;
            transition: filter 0.3s;
            filter: none;
            transition: fill 0.3s, stroke 0.3s;
            fill: none;
            stroke: black;
        }

        p {
            margin: 0;
            transition: color 0.3s;
        }

        &:hover {
            .icon {
                filter: brightness(0) saturate(100%) invert(45%) sepia(36%) saturate(1500%) hue-rotate(90deg) brightness(95%) contrast(90%); 
                cursor: pointer;
                stroke: #8cc63f;
            }

            p {
                color: #8cc63f;
                cursor: pointer;
            }
        }
    }
}

.home-options {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.options {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    column-gap: 4rem;
    margin: -10px 0 -25px 200px;

    p {
        padding: 0.5rem 1rem;
        border-radius: 20px;
        border: 1px solid #8cc63f;
        background-color: white;
        color: #512036;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            cursor: pointer;
            background-color: #8cc63f;
            color: white;
        }

        &:first-child {
            background-color: #512036;
            color: white;
        }
    }
}

.line-row {
    height: 1px;
    background-color: #512036;
    width: 100%;
    margin: 1rem 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.login {
    width: 30vw;
    height: auto;
    background-color: white;
    border: solid 1px #512036;
    border-radius: 10px;
    z-index: 1000;
}

.register {
    width: 40vw;
    min-height: 55vh;
    background-color: white;
    border: solid 1px #512036;
    border-radius: 10px;
    z-index: 1000;
}

.my-profile {
    width: 40vw;
    height: auto;
    background-color: white;
    border: solid 1px #512036;
    border-radius: 10px;
    z-index: 1000;
}

@media (max-width: 1400px) {
    .login {
        width: 45vw !important;
    }

    .my-profile {
        width: 60vw;
    }
}