.header-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    svg {
        margin: 20px -70px 0 0;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
}

.register-text {
    color: rgb(109, 211, 230);
    cursor: pointer;
    font-weight: bold;
}

.login-btn {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #4d2033;
    color: #FFFFFF;
    &:hover {
        cursor: pointer;
    }
}

.btn {
    width: 350px;
    height: 40px;
    border-radius: 5px;
}

.form-control {
    width: 350px !important;
    border-color: rgb(197, 197, 197);
}

.label {
    font-size: 25px;
    margin: 20px 0;
}  

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; 
}

.register {
    width: 40vw;
    min-height: 55vh;
    background-color: white;
    border: solid 1px #512036;
    border-radius: 10px;
    z-index: 1000;
}  