.header-register {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    svg {
        margin: 10px 0px 0px 0;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
}

.forget-btn {
    margin: 6px 0;
    background-color: transparent;
    color: rgb(153, 153, 153);
    border: none;
    &:hover {
        cursor: pointer;
    }
}

.login-btn {
    background-color: #4d2033;
    color: #FFFFFF;
    &:hover {
        cursor: pointer;
    }
}

.btn {
    width: 250px;
    height: 40px;
    border-radius: 5px;
}

.label {
    font-size: 18px;
    margin: 10px 0;
}  

.form-control {
    border-color: rgb(197, 197, 197);
}

.col-8 {
    width: 90% !important;
}

.alert {
    margin-top: 10px;
}