.header-extras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    svg {
        margin: 10px 10px 0px 0;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
}

.infos-product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    img {
        border-radius: 10px;
        width: 150px;
        height: 150px;
    }
}

.price {
    font-size: 18px;
    color: #50b347;
    font-weight: bold;
}

.free-adds {
    width: 100%;
    background-color: #cacbcd;
    padding: 10px 0;
    text-align: center;
    p {
        margin-bottom: 0 !important;
    }
}

.adds-list {
    list-style: none;
    margin-top: 10px;
    row-gap: 10px;
    li {
        display: flex;
        align-items: center;
        padding: 15px 8px;
        border-bottom: 1px solid #cacbcd;
    }
    
    svg {
        margin-left: auto;
        margin-right: 3rem;
        cursor: pointer;
    }
}

.icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border: none;
    background-color: transparent;

    svg {
        width: 100%;
        height: 100%;
    }
}

.add-remove-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}

.item-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

textarea {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}

.add-btn {
    background-color: #49b7c2;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.add-disabled {
    opacity: .7;
}

.text-observation {
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        justify-content: flex-end;
        margin-right: 10%;
    }
}